.cursor-pointer{
    cursor: pointer;
}

.botao-1{
    background-color: var(--cor-v2);
    color: var(--cor-01);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: inline-block;
    font-size: 1rem;
}

.botao-2{
    background-color: var(--cor-v3);
    color: var(--cor-01);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: inline-block;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.botao-3{
    background-color: var(--cor-01);
    color: var(--cor-v2);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
}