.titulo-pagina-bg{
    background-color: var(--cor-v3);
    box-shadow: 0px 80px 0px var(--cor-v3);   
}

.titulo-pagina-bg > :first-child{
    padding: 1rem;
}

.titulo-pagina-bg > :first-child > h1{
    display: inline-block;
    border: 3px solid var(--cor-01);
    border-radius: 48px;
    padding: 1rem 2rem;
    color: var(--cor-01);
    font-size: 1.8rem;
}

/* transformar para ↡ ↡ ↡ ↡ */

.titulo-pagina{
    font-size: 1rem;
    color: var(--cor-01);
}

.titulo-pagina h1{
    border: 3px solid var(--cor-01);
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 48px;
    margin: 1rem 0 1rem 0;
}